In [14]:
import numpy as np # linear algebra
import pandas as pd # data processing
import nltk

#import
from google.colab import drive
drive.mount('/content/gdrive')
dft = pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/News Classification/True.csv") #True data
dff = pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/News Classification/Fake.csv") #Fake data

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [15]:
#This tokenizer divides a text into a list of sentences
#by using an unsupervised algorithm to build a model for abbreviation words, collocations, and words that start sentences.
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [16]:
# we need 2 classifications 
dff['genuiness']=0
dft['genuiness']=1

In [17]:
df = pd.concat([dff,dft])
df

,title,text,subject,date,genuiness
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

PRE PROCESSING

In [18]:
df = df.reset_index(drop=True)
df = df.drop(['date','title','subject'],axis=1)
df

                                                    text  genuiness
0      Donald Trump just couldn t wish all Americans ...          0
1      House Intelligence Committee Chairman Devin Nu...          0
2      On Friday, it was revealed that former Milwauk...          0
3      On Christmas day, Donald Trump announced that ...          0
4      Pope Francis used his annual Christmas Day mes...          0
...                                                  ...        ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...          1
44894  LONDON (Reuters) - LexisNexis, a provider of l...          1
44895  MINSK (Reuters) - In the shadow of disused Sov...          1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...          1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...          1

[44898 rows x 2 columns]

In [19]:
from nltk.tokenize import word_tokenize
df['text'] = df['text'].apply(word_tokenize)

In [20]:
df

                                                    text  genuiness
0      [Donald, Trump, just, couldn, t, wish, all, Am...          0
1      [House, Intelligence, Committee, Chairman, Dev...          0
2      [On, Friday, ,, it, was, revealed, that, forme...          0
3      [On, Christmas, day, ,, Donald, Trump, announc...          0
4      [Pope, Francis, used, his, annual, Christmas, ...          0
...                                                  ...        ...
44893  [BRUSSELS, (, Reuters, ), -, NATO, allies, on,...          1
44894  [LONDON, (, Reuters, ), -, LexisNexis, ,, a, p...          1
44895  [MINSK, (, Reuters, ), -, In, the, shadow, of,...          1
44896  [MOSCOW, (, Reuters, ), -, Vatican, Secretary,...          1
44897  [JAKARTA, (, Reuters, ), -, Indonesia, will, b...          1

[44898 rows x 2 columns]

In [21]:
from nltk.stem.snowball import SnowballStemmer
sb = SnowballStemmer('english')

In [22]:
#Stemming amd lower cases 
def stem_it(text):
  return [sb.stem(word) for word in text]

In [23]:
df['text'] = df['text'].apply(stem_it)

In [24]:
df

                                                    text  genuiness
0      [donald, trump, just, couldn, t, wish, all, am...          0
1      [hous, intellig, committe, chairman, devin, nu...          0
2      [on, friday, ,, it, was, reveal, that, former,...          0
3      [on, christma, day, ,, donald, trump, announc,...          0
4      [pope, franci, use, his, annual, christma, day...          0
...                                                  ...        ...
44893  [brussel, (, reuter, ), -, nato, alli, on, tue...          1
44894  [london, (, reuter, ), -, lexisnexi, ,, a, pro...          1
44895  [minsk, (, reuter, ), -, in, the, shadow, of, ...          1
44896  [moscow, (, reuter, ), -, vatican, secretari, ...          1
44897  [jakarta, (, reuter, ), -, indonesia, will, bu...          1

[44898 rows x 2 columns]

In [26]:
def stopword_removal(text):
  return [word for word in text if len(word)>>2]

In [27]:
df['text'] = df['text'].apply(stopword_removal)

In [28]:
df

                                                    text  genuiness
0      [donald, trump, just, couldn, wish, american, ...          0
1      [hous, intellig, committe, chairman, devin, nu...          0
2      [friday, reveal, that, former, milwauke, sheri...          0
3      [christma, donald, trump, announc, that, would...          0
4      [pope, franci, annual, christma, messag, rebuk...          0
...                                                  ...        ...
44893  [brussel, reuter, nato, alli, tuesday, welcom,...          1
44894  [london, reuter, lexisnexi, provid, legal, reg...          1
44895  [minsk, reuter, shadow, disus, soviet-era, fac...          1
44896  [moscow, reuter, vatican, secretari, state, ca...          1
44897  [jakarta, reuter, indonesia, will, sukhoi, fig...          1

[44898 rows x 2 columns]

In [29]:
df['text'] = df['text'].apply(' '.join)

In [30]:
df

                                                    text  genuiness
0      donald trump just couldn wish american happi y...          0
1      hous intellig committe chairman devin nune hav...          0
2      friday reveal that former milwauke sheriff dav...          0
3      christma donald trump announc that would back ...          0
4      pope franci annual christma messag rebuk donal...          0
...                                                  ...        ...
44893  brussel reuter nato alli tuesday welcom presid...          1
44894  london reuter lexisnexi provid legal regulator...          1
44895  minsk reuter shadow disus soviet-era factori m...          1
44896  moscow reuter vatican secretari state cardin p...          1
44897  jakarta reuter indonesia will sukhoi fighter w...          1

[44898 rows x 2 columns]

MODEL

In [41]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression

In [34]:
x= df['text']
y= df['genuiness']
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.25)

In [36]:
tfidfv = TfidfVectorizer(max_df=0.7)

In [37]:
tfidfv_train = tfidfv.fit_transform(x_train)
tfidfv_test = tfidfv.transform(x_test)

In [39]:
lr= LogisticRegression(max_iter =500)
lr.fit(tfidfv_train, y_train)

LogisticRegression(max_iter=500)

In [42]:
y_pred = lr.predict(tfidfv_test)
accuracy_score(y_test, y_pred)

0.987706013363029

In [43]:
#Comparison
from sklearn.linear_model import PassiveAggressiveClassifier
pac = PassiveAggressiveClassifier(max_iter =100)
pac.fit(tfidfv_train, y_train)

PassiveAggressiveClassifier(max_iter=100)

In [45]:
y_pred_pac = pac.predict(tfidfv_test)
accuracy_score(y_test, y_pred_pac)

0.995902004454343